In [2]:
import pandas as pd
import seaborn as sns
df = pd.read_json("gme.json")

In [3]:
df.head()

        Date     Open     High      Low    Close  Adj Close    Volume
0 2002-02-13  2.40625  2.51500  2.38125  2.51250   1.691666  76216000
1 2002-02-14  2.54375  2.54875  2.48125  2.50000   1.683250  11021600
2 2002-02-15  2.50000  2.50625  2.46250  2.48750   1.674834   8389600
3 2002-02-19  2.47500  2.47500  2.34375  2.38750   1.607504   7410400
4 2002-02-20  2.40000  2.46875  2.38125  2.46875   1.662210   6892800

In [11]:
max_price = df['High'].max()
print(max_price)

find_date = df[df['High'] == max_price]['Date']

print(find_date.iloc[0])

120.75
2021-01-28 00:00:00